/*
MY COLOR PALETTE
Color 1 - #F2EB87
Color 2 - #D43545
Color 3 - #29339B
Color 4 - #3CAC8E
Color 5 - #CBCCE2
*/

body {
    background-color: ##f5f3e9;
    text-align: center;
}

button {
    background-color: #3cac8e;
    color: #f2eb87;
    font-family: "roboto", sans-serif;
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: 300;
    width: 400px;
    padding: 17x;
    margin-top: 20px;
    border: none;
    border-radius: 82px;
}

button:hover {
    background-color: #f2eb87;
    color: #3cac8e;
}
h1 {
    font-family: "Roboto";

    color: #3cac8e;
    font-size: 60px;
}
.unica-one-regular {
    font-family: "Unica One";
}

.crimson-text-regular {
    font-family: "Crimson Text";
}

h2 {
    font-family: "lora";
    color: #3cac8e;
    font-size: 30px;
    text-transform: uppercase;
}
