/*
* MY COLOR PALETTE
* #e6b894
* #d3f4ff 
* #211b1a
*MY FONTS
*"Playfair Display", serif;
*"League Spartan", serif;

*/

@media screen {
    #topper {
        background-color: #e6b894;
    }

    img {
        width: 100%;
        display: block;
        border-radius: 100%;
        border: 1px solid;
        margin: 20px 20px 20px 20px;
    }

    h1 {
        font-family: "League Spartan", serif;
        font-size: 22px;
        font-weight: bold;
        margin: 96px auto 50px auto;
        padding: 0px 0px 0px 40px;
    }

    h2 {
        color: #211b1a;
        font-family: "Playfair Display", serif;
        font-size: 25px;
        padding: 0px 0px 0px 40px;
        margin: -53px 0px 20px 0px;
    }

    button {
        color: #211b1a;
        background-color: #d3f4ff;
        font-family: "League Spartan", serif;
        font-size: 20px;
        border-radius: 32px;
        width: 200px;
        border: 1px solid;
        border-color: black;
        margin: 0px 0px 0px 40px;
        font-weight: bold;
        padding: 10px 0px 10px 0px;
    }

    #navigation {
        background-color: #211b1a;
        color: #d3f4ff;
        font-family: "League Spartan", serif;
        margin: 0px 0px 0px 0px;
    }

    h3 {
        text-align: center;
        font-size: 20px;
        margin-top: 15px;
        color: #d3f4ff;
    }

    .headers {
        font-family: "League Spartan", serif;
        background-color: #211b1a;
        color: #d3f4ff;
        font-size: 43px;
        font-weight: bold;
        padding: 0px 0px 0px 20px;
    }

    .background {
        background-color: #e6b894;
        color: #211b1a;
    }

    h4 {
        font-family: "League Spartan", serif;
        font-size: 25px;
        margin: 15px 10px 15px 10px;
    }

    .jobdescription {
        font-family: "Playfair Display", serif;
        margin: -14px 10px 15px 10px;
    }

    #skills {
        font-family: "League Spartan", serif;
        font-size: 25px;
        margin: 15px 0px 10px 0px;
    }
    .majors {
        font-family: "Playfair Display", serif;
        margin: 0px 0px 0px 0px;
        margin: -14px 10px 15px 10px;
    }

    .date {
        text-align: right;
    }

    @media (min-width: 576px) {
        h1 {
            font-size: 50px;
        }
    }
}
