
@media screen {
    
    


h1{ 
    font-family: 'Times New Roman'; 
}

p {
    color:red
}

.caption {
    color:green
}
}

@media (min-width 576px) {
    #info{
        width:700px
        
        
    }
    
}